<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="projectMapper">
	<!-- pStatus의 default값인 '진행전'으로 변경했습니다! -->
	<insert id="insertProject">
		insert into project
		values(seq_pno.nextval, #{pTitle}, #{pCreater}, #{pContent}, #{pStatus}, 
			   #{pStartDate}, #{pEndDate}, sysdate<!-- , #{pNickName} -->)
	</insert>
	
	<insert id="insertPrJoin">
		insert into project_join
		values(seq_proj.nextval, #{pCreater})
	</insert>
	
	<select id="getPList" resultMap="ProjectListSet">
		select project_no, project_title, p_status, p_start_date, p_end_date
		from project
			 join project_join using(project_no)
			 join member on(project_member=email)
		where p_status like '진행%' and project_member = #{email}
		order by project_no
	</select>
	
	<resultMap type="Project" id="ProjectListSet">
		<id column="PROJECT_NO" property="projectNo"/>
		<result column="PROJECT_TITLE" property="pTitle"/>
		<result column="PROJECT_CREATER" property="pCreater"/>
		<result column="NICKNAME" property="pNickName"/>
		<result column="PROJECT_CONTENT" property="pContent"/>
		<result column="P_STATUS" property="pStatus"/>
		<result column="P_START_DATE" property="pStartDate"/>
		<result column="P_END_DATE" property="pEndDate"/>
		<result column="CREATE_DATE" property="createDate"/>
	</resultMap>
	
	<select id="selectProject" resultMap="ProjectListSet">
		select project_no, project_title, project_member, nickname
		from project
			 join project_join using(project_no)
			 join member on(project_member = email)
		where project_no = #{projectNo}
	</select>
	
	<select id="selectCalendar" resultMap="CalendarListSet">
		select *
		from calendar
			 join member on(c_creator=email)
		where project_no = #{pNo} and c_category like '진행%' and c_status = 'Y'
		order by calendar_no
	</select>
	
	<resultMap type="Calendar" id="CalendarListSet">
		<id column="CALENDAR_NO" property="calendarNo"/>
		<result column="C_CREATOR" property="cCreator"/>
		<result column="NICKNAME" property="nickName"/>
		<result column="C_START_DATE" property="cStartDate"/>
		<result column="C_END_DATE" property="cEndDate"/>
		<result column="MODIFY_DATE" property="modifyDate"/>
		<result column="C_CATEGORY" property="category"/>
		<result column="C_STATUS" property="calStatus"/>
		<result column="C_TITLE" property="calTitle"/>
		<result column="C_CONTENT" property="calContent"/>
		<result column="C_BGCOLOR" property="bgColor"/>
		<result column="ALLDAY" property="allDay"/>
		<result column="PROJECT_NO" property="projectNo"/>
	</resultMap>

	<select id="getPListForMain" resultMap="ProjectListSet">
		select * 
		from (select *
				from project
				join project_join using(project_no)
				join member on(project_member=email)
		 		where p_status like '진행%' and project_member = #{pCreater})
		 where (p_start_date between #{pStartDate} and #{pEndDate})
			  		or (p_end_date between #{pStartDate} and #{pEndDate})
		 order by project_no
		
	</select>
	
	<select id="getPListForMain2" resultMap="MainCalProjectListSet">
		select * 
		from (select *
				from project
				join project_join using(project_no)
				join member on(project_member=email)
		 		where p_status like '진행%' and project_member = #{pCreater})
		 where (p_start_date between to_date(#{pStartDate}, 'YYYY-MM-DD') and to_date(#{pEndDate}, 'YYYY-MM-DD'))
			  		or (p_end_date between to_date(#{pStartDate}, 'YYYY-MM-DD') and to_date(#{pEndDate}, 'YYYY-MM-DD'))
		 order by project_no
	</select>
	
	<resultMap type="MainCalProject" id="MainCalProjectListSet">
		<id column="PROJECT_NO" property="projectNo"/>
		<result column="PROJECT_TITLE" property="pTitle"/>
		<result column="PROJECT_CREATER" property="pCreater"/>
		<result column="NICKNAME" property="pNickName"/>
		<result column="PROJECT_CONTENT" property="pContent"/>
		<result column="P_STATUS" property="pStatus"/>
		<result column="P_START_DATE" property="pStartDate"/>
		<result column="P_END_DATE" property="pEndDate"/>
		<result column="CREATE_DATE" property="createDate"/>
	</resultMap>
	
	<select id="memberProjectList" resultType="Member">
		select email,name,nickname,reprofile
        from project_join
        	join member on(project_member = email)
        where project_no = #{projectNo}
	</select>
	
	<select id="notMemberProjectList" resultType="Member">
		select email,name,nickname,reprofile
        from member
       		join project_join on(project_member = email)
        where project_no != #{projectNo} 
	</select>
	
	<select id="emailSearch" resultType="Member">
		select email,name,nickname,reprofile
        from member
       		 join project_join on(project_member = email)
        where project_no != #{projectNo} and email like '%'||#{email}||'%'
	</select>
	
	<insert id="addProjectMember">
		insert into project_join
		values(#{projectNo},#{pMember})
	</insert>
</mapper>
